/*
  ==========================================
  Робимо м'яке скидання стилів Еріка Майєра
  ==========================================
  http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
  ==========================================
            ТИПОГРАФІКА
  ==========================================
*/

/*
  ------------------------------------------
        додаємо властивості шрифтів і
    відступи між елементами margin-bottom
  ------------------------------------------
*/
body {
    color: #888;
    font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
    margin-bottom: 22px;
}
h1, h2, h3, h4 {
    color: #648880;
    margin-bottom: 22px;
}
h1 {
    font-size: 36px;
    line-height: 44px;
}
h2 {
    font-size: 24px;
    line-height: 44px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    margin-bottom: 22px;
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
}
strong {
    font-weight: 400;
}
cite, em {
    font-style: italic;
}
/*
  ------------------------------------------
            Гіперсилки
  ------------------------------------------
*/
a:hover {
    color: #a9b2b9;
}
a {
    color: #648880;
}
/*
  ------------------------------------------
  Колір гіперсилок для 3 блочних елементів
  ------------------------------------------
*/
.teaser a:hover h3 {
    color: #a9b2b9;
}
/*
  ------------------------------------------
            Логотип
  ------------------------------------------
*/
.logo {
    border-top: 4px solid #648880;
    float: left;
    font-size: 48px;
    line-height: 44px;
    padding: 40px 0 22px 0;
}
.tagline {
    margin: 66px 0 22px 0;
}
/*
  ------------------------------------------
       Навігаційне меню після логотипу
  ------------------------------------------
*/
.primary-nav {
    font-size: 14px;
    font-weight: 400;
}
/*
  ------------------------------------------
       Навігаційне меню у <footer>
  ------------------------------------------
*/
.primary-footer {
    color: #648880;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}
.primary-footer small {
    float: left;
    font-weight: 400;
}
/*
  ==========================================
            СІТКА ГОЛОВНОЇ СТОРІНКИ
  ==========================================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*
  ------------------------------------------
  Клас із контейнером, що вирівнює блочні
  елементи по центру
  ------------------------------------------
*/
.container,
.grid {
    margin: 0 auto;
    width: 960px;
}
.container {
    padding-left: 30px;
    padding-right: 30px;
}
/*
  ------------------------------------------
  Створюємо макет з 3 колонок використовуючи
  рядково-блочні елементи; ширина однієї 1/3,
  а інша - 2/3 від ширини сторінки
  ------------------------------------------
*/
.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}
.col-1-3 {
    width: 33.33%;
}
.col-2-3 {
    width: 66.66%;
}
/*
  ------------------------------------------
  Задаємо відступи між 3 блоками макету
  ------------------------------------------
*/
.grid,
.col-1-3,
.col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
}
/*
  ------------------------------------------
  Встановлюємо межу padding для усіх чотирьох
  сторін елемента <section>
  ------------------------------------------
*/
.hero {
    line-height: 44px;
    padding: 22px 80px 66px 80px;
}
.hero h2 {
    font-size: 36px;
}
.hero p {
    font-size: 24px;
}
/*
  ------------------------------------------
                Clearfix
  (обовязково перед застосуваннм float)
  ------------------------------------------
*/
.group::before,
.group::after {
    content: "";
    display: table;
}
.group::after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}
/*
  ------------------------------------------
  Основний заголовок
  (логотип) Styles Conference
  ------------------------------------------
*/
.logo {
    border-top: 4px solid #648880;
    padding: 40px 0 22px 0;
    float: left;
}
/*
  ------------------------------------------
  Основний підвал для елемента <footer>
  ------------------------------------------
*/
.primary-footer small {
    float: left;
}
.primary-footer {
    padding-bottom: 44px;
    padding-top: 44px;
}
/*
  ==========================================
            КНОПКИ
  ==========================================
*/

/*
  ------------------------------------------
  Кнопки заокругленої форми, які є оремим
  блоком, що можна редагувати та не мають
  зовнішніх меж
  ------------------------------------------
*/
.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
}
/*
  ------------------------------------------
  Однопіксельна рамка сірого кольору з
  відступами padding 10 пікселів зверху і знизу,
  а також padding 30 пікселів праворуч і ліворуч
  від кнопки.
  ------------------------------------------
*/
.btn-alt {
    border: 1px solid #dfe2e5;
    padding: 10px 30px;
}